<div class="chat__header">
    <div class="chat__headerInfo">
        <h3>Chat with everyone</h3>
        <p>Last seen at 2.69.2009</p>
    </div>

</div>

<div class="chat__body" #scrollMe>
<!--    <div *ngFor="let message of this.messageHistory[this.connectedWith.username]">-->
<!--        <p *ngIf="message._from == this.user.username && message._type === 'text'"  class="chat__message chat__receiver">-->
<!--            {{message._body}}-->
<!--            <span class="chat__timestamp">{{message.getTime()}}</span>-->
<!--        </p>-->
<!--        <p *ngIf="message._from == this.connectedWith.username && message._type === 'text'" class="chat__message">{{message._body}}`-->
<!--            <span class="chat__timestamp">{{message.getTime()}}</span>-->
<!--        </p>-->

<!--        <p *ngIf="message._from == this.user.username  && message._type === 'image'"  class="chat__message chat__receiver">-->
<!--            <img [src]="message._body" height="200" *ngIf="message._body">-->
<!--            <span class="chat__timestamp">{{message.getTime()}}</span>-->
<!--        </p>-->
<!--        <p *ngIf="message._from == this.connectedWith.username && message._type === 'image'" class="chat__message">-->
<!--            <img [src]="message._body" height="200" *ngIf="message._body">-->
<!--            <span class="chat__timestamp">{{message.getTime()}}</span>-->
<!--        </p>-->
<!--    </div>-->
</div>

<div class="chat__footer">
    <form #f="ngForm" (ngSubmit)="sendMessage(f)">
        <input class="input-text" placeholder="Type a message" type="text" [value]="messageInputText" (input)="messageInputText=$event.target.value"/>
        <button class="button-submit-text" type="button">Send</button>
    </form>
    <input style="display: none; margin-right: 20px" type="file" (change)="onFileSelect($event)" #hiddenfileinput
           type="file"
           accept=".jpg, .jpeg, .png, .gif" class="input-image">
    <button (click)="hiddenfileinput.click()"  class="waves-effect waves-light btn"><i class="material-icons left">perm_media</i></button>
</div>
